apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: policy-kafka-config
  annotations:
    policy.open-cluster-management.io/standards: NIST-CSF
    policy.open-cluster-management.io/categories: PR.IP Information Protection Processes and Procedures
    policy.open-cluster-management.io/controls: PR.IP-1 Baseline Configuration
spec:
  disabled: false
  remediationAction: enforce
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: policy-kafka-config1
        spec:
          namespaceSelector:
            exclude:
              - kube-*
            include:
              - default
          object-templates:
            - complianceType: musthave
              objectDefinition:
                apiVersion: kafka.strimzi.io/v1beta1
                kind: Kafka
                metadata:
                  name: my-cluster
                  namespace: kafka
                spec:
                  kafka:
                    version: 2.5.0
                    replicas: 1
                    listeners:
                      plain: {}
                      tls: {}
                    config:
                      offsets.topic.replication.factor: 1
                      transaction.state.log.replication.factor: 1
                      transaction.state.log.min.isr: 1
                      log.message.format.version: "2.5"
                    storage:
                      type: ephemeral
                  zookeeper:
                    replicas: 3
                    storage:
                      type: ephemeral
                  entityOperator:
                    topicOperator: {}
                    userOperator: {}
          remediationAction: enforce
          severity: low
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: policy-kafka-topics
        spec:
          namespaceSelector:
            exclude:
              - kube-*
            include:
              - default
          object-templates:
            - complianceType: musthave
              objectDefinition:
                apiVersion: kafka.strimzi.io/v1beta1
                kind: KafkaTopic
                metadata:
                  name: receive-topic
                  namespace: kafka
                  labels:
                    strimzi.io/cluster: my-cluster
                spec:
                  config:
                    retention.ms: 7200000
                    segment.bytes: 1073741824
                  partitions: 3
                  replicas: 1
            - complianceType: musthave
              objectDefinition:
                apiVersion: kafka.strimzi.io/v1beta1
                kind: KafkaTopic
                metadata:
                  name: app-topic
                  namespace: kafka
                  labels:
                    strimzi.io/cluster: my-cluster
                spec:
                  config:
                    retention.ms: 7200000
                    segment.bytes: 1073741824
                  partitions: 3
                  replicas: 1
            - complianceType: musthave
              objectDefinition:
                apiVersion: kafka.strimzi.io/v1beta1
                kind: KafkaTopic
                metadata:
                  name: infra-topic
                  namespace: kafka
                  labels:
                    strimzi.io/cluster: my-cluster
                spec:
                  config:
                    retention.ms: 7200000
                    segment.bytes: 1073741824
                  partitions: 3
                  replicas: 1
            - complianceType: musthave
              objectDefinition:
                apiVersion: kafka.strimzi.io/v1beta1
                kind: KafkaTopic
                metadata:
                  name: audit-topic
                  namespace: kafka
                  labels:
                    strimzi.io/cluster: my-cluster
                spec:
                  config:
                    retention.ms: 7200000
                    segment.bytes: 1073741824
                  partitions: 3
                  replicas: 1
          remediationAction: enforce
          severity: low
  remediationAction: enforce
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: binding-policy-kafka-config
placementRef:
  name: placement-policy-kafka-config
  kind: PlacementRule
  apiGroup: apps.open-cluster-management.io
subjects:
- name: policy-kafka-config
  kind: Policy
  apiGroup: policy.open-cluster-management.io
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: placement-policy-kafka-config
spec:
  clusterConditions:
  - status: "True"
    type: ManagedClusterConditionAvailable
  clusterSelector:
    matchExpressions:
      - {key: local-cluster, operator: In, values: ["true"]}
